@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap');

html, body {
 
  background-color: hsl(226, 43%, 10%);
}

#weekly{
  color:white;
}

.container{
  margin: 0 auto;
  height: 95.1vh;
}

.dashboard{
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  height: 90%;
  color: white;
}
.User{
 height: 80%;
}
.UserComplete{
  background-color: hsl(235, 46%, 20%);
  height: 96%;
  width: 19.625rem;
  border-radius: 20px;

}

.username{
  background-color: hsl(246, 80%, 60%);
  height: 66%;
  border-radius: 20px;
}
.imagen{
  margin-top: 20px;
  width: 10vh;
  border: 5px solid;
  border-radius: 7vh;
}
.rep{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
  margin-top: 1.5625rem;
}
.name{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 5vh;
  align-items: center;
  align-content: center;
}
.usernameContent{
  margin: 1.25rem;
}

.imageContainer{
  margin-top: 10px;
}
.changeInfo{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 1.5625rem;
  font-size: 2vh;
}
.separate{
  margin-bottom: 20px;
  cursor: pointer;
  color: hsl(236, 100%, 87%);
}
.separate:hover{
  color: white;
}


.info{
  margin-top: 45px;
  margin-left: 20px;
  height: 31.25rem;
  width: 100%;
}
.categorias{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(5px, auto);
  height: 80%;
  width: 100%;
}
.Datos{
  
  height: 90%;
  width: 85%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;

}

.Datos:hover{
  
  cursor: pointer;
  background-color: hsl(237, 38%, 30%);
  border-radius: 20px;

}

.information{

  background-color: hsl(235, 46%, 20%);
  position: relative;
  height: 70%;
  border-radius: 20px;
  padding: 40px 40px 0px 40px;
}

.information:hover{
  cursor: pointer;
  background-color: hsl(237, 38%, 30%);
}
.category{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: space-between;
}

.hours{
  font-family: 'Rubik', sans-serif;
  font-size: 3.1vw;

}
.lasthours{
  font-family: 'Rubik', sans-serif;
  font-size: 1vw;
  color: hsl(236, 100%, 87%);
}

.imagenDeco{
  position: relative;
  bottom: 5px;
  top: 5px;
  width: 100%;
  
}
